a-assets
	//-img#aumPic(src="aum.svg")
	img#aumPic(src="Tamil_Om.svg")
	img#bgPic(src="bg.svg")
	img#starPic(src="star.svg")
	img#pentaPic(src="pentagram.svg")

	a-mixin#obstacle(
		obstacle
		geometry="primitive:sphere;segmentsWidth:9;segmentsHeight:18;radius:0.3;"
		material="color:#4682B4;metalness:0.3;side:front"
	)
		a-animation(
			attribute="color"
			from="#fff"
			to="#660000"
			easing="ease-in"
			dur="1000"
			repeat="indefinite"
		)
		//-a-mixin id="fade" attribute="material.opacity" begin="fade" to="0"

	a-mixin#ring(
		geometry="primitive:cylinder;segmentsHeight:9;segmentsRadial:36;openEnded:true"
		material="color:#fff;side:back"
		rotation="90 0 0"
		scale="5 0.5 5"
	)
	//- ring side:back,front,double?
