doctype html
title js13k
//-script(src="https://aframe.io/releases/0.8.2/aframe.min.js")
script(src="aframe.min.js")
script(src="core.js")

a-scene(
	background="color:#030366"
	stats
	pool__rings="mixin:ring;size:10;dynamic:true"
	pool__obstacles="mixin:obstacle;size:10;dynamic:true"
)
	include assets.pug
	include lights.pug
	include sky.pug

	//- Player
	a-camera(
		camera-cursor
		wasd-controls="acceleration:500"
		fov="60"
	)
		a-triangle(
			material="color:#ff0000;shader:flat;opacity:0.65"
			position="0 -0.012 -1"
			scale="0.025 0.025 1"
		)
		a-triangle(
			material="color:#ff0000;shader:flat;opacity:0.65"
			position="0 0.012 -1"
			scale="0.025 0.025 1"
			rotation="0 0 180"
		)
		a-entity#ray(
			position="0 0 0"
			raycaster="objects:.obs;far:60;recursive:false;showLine:true"
			line="color: blue"
			cursor="fuse:true;fuseTimeout:500"
		)
		a-ring#crosshair(
			position="0 0 -0.99"
			radius-outer="0.05"
			radius-inner="0.04"
			theta-start="90"
			material="color:#000;shader:flat"
		)
			a-ring(
				position="0 0 -1.1"
				radius-outer="0.06"
				radius-inner="0.04"
				material="color:#fff;shader:flat;opacity:0.3"
			)
			//- dur = state.aimLength
			a-animation(
				begin="aim"
				end="endAim"
				easing="ease-out"
				attribute="theta-Length"
				fill="forwards"
				from="45"
				to="360"
				dur="500"
			)
		a-text#hud(
			value=""
			position="0 20 -50"
			align="center"
			width="50"
		)


	a-image(
		src="#aumPic"
		position="0 0 -55"
		width="8"
		height="8"
	)

script.
	const game = new Game()
