//- Start button
a-entity#menu
	a-text(
		value="Whirled on the Spirit Spiral"
		position="0 11 -55"
		align="center"
		width="150"
		letter-spacing="-4"
	)
		a-animation(
			attribute="color"
			from="#fff"
			to="#660000"
			easing="ease-in"
			dur="8000"
			repeat="indefinite"
		)

	//- low poly
		a-sphere#spc.obs(
			position="-15 0 -55"
			metalness="0.3"
			material="flatShading:true;color: #4682B4;opacity:0.6;"
			geometry="primitive:sphere;radius:6.5; segmentsWidth: 8; segmentsHeight:5"
		)
	a-sphere#spc.obs(
		position="-15 0 -55"
		radius="6.5"
		color="#4682B4"
		metalness="0.3"
		opacity="0.5"
		segments-Width="6"
		segments-Height="8"
	)
		a-text(
			value="PC"
			align="center"
			width="100"
		)

	a-sphere#smob.obs(
		position="15 0 -55"
		radius="6.5"
		color="#4682B4"
		metalness="0.3"
		opacity="0.5"
		segments-Width="6"
		segments-Height="8"
	)
		a-text(
			value="Mobile"
			align="center"
			width="80"
		)


	//- Intro text
	a-text#msg(
		value="Welcome, your only goal is reach the symbol.\n"+
			"Just look at the spheres and it boost you well."
		position="0 -12 -55"
		align="center"
		width="50"
		line-height="55"
		letter-spacing="-4"
	)

	//-"JS12K 2K8 - @SubZtep"
